name: CI
on:
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  build:
    name: build main.go
    runs-on: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: "^1.19.0"
      - run: go version
      - name: build main
        run: |
          go mod tidy
          go build main.go
      - name: test
        run: go test -v -tags unit_test ./...
